.background {
  position: relative;
  top: 200px;
  background-color: rgba(255, 255, 255, 0.753);
  padding: 30px 120px;
  max-width: 700px;
  border-radius: 8px;
  min-height: 500px;
  margin: auto;
}

.background h1 {
  text-align: center;
  opacity: initial;
}

.background .loginform {
  margin: auto;
  font-size: 20px !important;
  color: black;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.email-icon {
    margin: auto;
    transform: scale(1.05);
   
}

.input-container .login-input {
    padding: 8px 10px !important;
    font-size: 18px;
    margin-left: 10px;
}

.login-button {
    margin-top: 20px;
    font-size: 20px !important;
    min-width: 12rem;
}